apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: titanic-api
  labels:
    app: postgres
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  # For Minikube, use default storage class
  # For cloud providers, specify appropriate storage class
  # storageClassName: gp2  # AWS
  # storageClassName: standard-rwo  # GCP