apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: titanic-api-dev

resources:
  - ../../base

namePrefix: dev-

labels:
  - pairs:
      environment: dev

replicas:
  - name: titanic-api
    count: 2

images:
  - name: titanic-api
    newName: docker.io/isshy/titanic-api
    newTag: dev-latest

configMapGenerator:
  - name: titanic-api-config
    behavior: merge
    literals:
      - FLASK_ENV=development
      - LOG_LEVEL=DEBUG

# Remove or comment out patches
# patches:
#   - path: deployment-patch.yaml