apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Namespace to deploy into
namespace: titanic-api

# Base resources
resources:
  - ../../base

# Prefix added to all resource names
namePrefix: dev-

# Common labels (use mapping, not "pairs")
commonLabels:
  environment: dev

# Override replicas for specific Deployment(s)
replicas:
  - name: titanic-api
    count: 2


# Override images for your environment
images:
  - name: titanic-api
    newName: ghcr.io/isshy35/titanic-api
    newTag: dev-latest

# Generate or merge ConfigMap for this environment
configMapGenerator:
  - name: titanic-api-config
    behavior: merge
    literals:
      - FLASK_ENV=development
      - LOG_LEVEL=DEBUG

# Optional patches for Deployment or other resources
patchesStrategicMerge:
  - deployment-patch.yaml
